FRMCode/XML/exemplodatosxsd/datos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<xs:element name="datos">
<xs:complexType>
<xs:sequence>
<xs:element name="cadena" type="xs:string"/>
<xs:element name="decimal" type="xs:decimal"/>
<xs:element name="entero" type="xs:integer"/>
<xs:element name="boleano" type="xs:boolean"/>
<xs:element name="fecha" type="xs:date"/>
<xs:element name="fechah" type="xs:dateTime"/>
<xs:element name="enteropos" type="xs:positiveInteger"/>
<xs:element name="enteroneg" type="xs:negativeInteger"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>