FRMCode/DAM/1º/LM/XML/1º e 2º/Repaso/Repaso Schema/Ej1/Ej1b/e1b.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="empleado">
        <xs:complexType>
            <xs:sequence>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="apellidos">
                <xs:complexType>
                    <xs:sequence>
                    <xs:element name="apellido1" type="xs:string"/>
                    <xs:element name="apellido2" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>