FRMCode/XML/1º e 2º/exemploxsd/alumno.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<xs:element name="alumno">
<xs:complexType>
<xs:sequence>
<xs:element name="nombre" type="xs:string"/>
<xs:element name="dni" type="xs:string"/>
<xs:element name="telefono" type="xs:string"/>
<xs:element name="direccion" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>