FRMCode/XML/Repaso/Repaso Schema/Ej2/e2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="documento">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element name="nombre" type="xs:string"/>
                <xs:element name="fecha" type="xs:string"/>
                <xs:element name="hora" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>